body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 100px;
}
.flex-container{
    display: flex;
}
h1{
    font-size: 50px;
    color: #575757;
}
h3{
    font-size: 25px;
    color: #575757;
}
p{
    color: #828282;
    text-align: left;
}
.orange-color{
    color: #FA9249;
}
.half-width{
    width: 50%;
    margin: 10px 0;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.text-area{
    padding: 5% 7%;
}
.button a{
    text-decoration: none;
    color: white;
    margin-top: 30px;
    margin-left: 40px;
    padding: 10px 30px;
    background-image: linear-gradient(#FC964B, #FE492E);
    border-radius: 30px;
    box-shadow: 5px 5px 20px #FC964B;
}
.about-me-area{
    background-image: url(images/shapes/7.png);
}
h2{
    font-size: 40px;
    color: #575757;
    text-align: center;
}
#about-text-area p{
    padding: 0 40px;
    text-align: justify;
}
#btn{
    margin-left: 50px;
    margin-top: 20px;
}
.food-recipies-area p{
    text-align: center;
}
.flex-recipies-box{
    display: flex;
    width: 100%;
}
.recipies-box-item{
    width: 30%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin-left: 4%;
}
.recipies-box-item img{
    width: 100%;
}
.recipies-box-item p{
    text-align: justify;
}
#box-3{
    margin-right: 4%;
}
.our-progress{
    width: 100%;
    align-items: center;
}
.progress-item{
    display: flex;
    width: 90%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    border: 1px solid white;
    justify-content: space-around;
    align-items: center;
    margin-left: 4%;
}
.progress-item h2{
    text-align: left;
}
.progress-item p{
    text-align: left;
}